@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    width: 375px;
    height: auto;
    background-color: hsl(225, 100%, 94%);
    background-image: url("../assets/images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.card {
    width: 350px;
    height: auto;
    border: 1px solid;
    border-width: 0;
    margin: 3%;
    padding-top: 0;
    border-radius: 5px;
    display: flex;
}

.hero {
    margin: 0;
}